{% extends "layout.html" %}
{% block content %}
<div class="container">
   <br>
   <center>
       <a href="{{ url_for('project_1')}}"> <h2>Project 1 </h2> </a> 
   </center>
</div>
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
         <p> Talk about your projects here...</p>
      </div>
   </div>
</div>

<div class="container">
   <br>
   <center>
       <a href="{{ url_for('project_2')}}"> <h2>Project 2 </h2> </a> 
   </center>
</div>
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
         <p> Talk about your projects here... </p>
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>

<div class="container">
   <br>
   <center>
       <a href="{{ url_for('project_3')}}"> <h2>Project 3 </h2> </a> 
   </center>
</div>
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
         <p> Talk about your projects here... </p>
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>
{% endblock %}