{% extends "layout.html" %}
{% block content %}

<div class="container">
   <br>
   <center>
      <h2>Project 1 </h2>
   </center>
</div>
<div class="container">
   <br>
   <div class="row">
   
      <div class="col-md-4">
        <!--  Sample Layout; you can modify it however you like -->
      	<h3> Background</h3>
         <p> Write about the project background</p>
      </div>

      <div class="col-md-4">

      	<h3> My Tasks</h3>
		<p>Write about your responsabilities </p>

      </div>

      <div class="col-md-4">


		<h3> Future Improvements</h3>
		<p> Talk about any future improvements for project
		</p>
      </div>
      <center>
    <!--      link for source code  -->
      	Source code and report can be found<a href="https://github.com"> here. </a>
      </center>
  </div>
</div>

{% endblock %}